snippet snip "New Snippet" bA
snippet ${1:match} "$2" ${3:b}
$4
endsnippet$0
endsnippet

snippet ### "Commnet" b
##################################################
###       $1
##################################################$0
endsnippet 

snippet mcont "math snippets template" bA
context math()
endsnippet 
